<table>
<tr>
  <th valign="top">
  <label for="files">  <span style='padding:0px 10px;'  >Load from local file</span></label>
  <input type="file" id="files" name="files[]" multiple style="display:none" (change)="load($event)"/>
  <a id='Saveto' href='#' (click)="save()">Download</a>
  </th>
</tr>
<tr>

<div>STEP 1 PROPERTIES</div>
<div style='border: solid 1px'>
<th valign="top">

<input #compProp type='textbox'>
<input type='button' value='add compProp' (click)='addCompProp()'>

<table id='savedCompProps'>
  <tr *ngFor='let c of dataService.comps'>
    <div><b>{{c}}</b></div>
    <table>
      <tr *ngFor='let cp of dataService.compProps'>
      <td><i class="fas fa-trash-alt" (click)='delete()' id='{{cp}}_deletefromcompsprops_{{c}}'></i></td>  <td>{{cp}}</td><td><input id='{{cp}}_of_{{c}}' type='textbox' value='{{dataService.compObj[c]["properties"][cp]}}' (change)='compPropChanged($event)'></td>
      </tr>
      <br>
      <br>
    </table>
  </tr>
</table>

</th>


<th valign="top">
<input #devProp type='textbox'>
<input type='button' value='add devProp' (click)='addDevProp()'>

<table id='savedDevProps'>
  <tr *ngFor='let d of dataService.devs'>
    <b><div>{{d}}</div></b>
    <table>
      <tr *ngFor='let dp of dataService.devProps'>
        <td><i class="fas fa-trash-alt" (click)='delete()' id='{{dp}}_deletefromdevsprops_{{d}}'></i></td><td>{{dp}}</td><td><input id='{{dp}}_of_{{d}}' type='textbox' value='{{dataService.devObj[d]["properties"][dp]}}' (change)='devPropChanged($event)'></td>
      </tr>
      <br>
      <br>
    </table>
  </tr>
</table>
</th>
</div>
</tr>

<tr>
<th valign="top">
  <br><br>
  <div>AFFINITY MATRIX STEP1</div>
  <div style='border: solid 1px'>
  <table>
    <tr>
      <td></td>
      <td *ngFor='let dp of dataService.devProps' style='width:25px; '><div style='width:25px; writing-mode: vertical-rl;transform: rotate(180deg);'>{{dp}}</div></td>
    </tr>
    <tr *ngFor='let cp of dataService.compProps;let i=index;'>
      {{cp}}
      <td *ngFor='let dp of dataService.devProps;let j=index;' >
        <input id='{{cp}}_with_{{dp}}' type='text' value={{dataService.affinityMat1[i][j]}} style='width:25px;' (change)='matrChanged($event)'>
      </td>
    </tr>
  </table>
</div>
</th>
</tr>








<tr>

<th valign="top">
  <br><br>
<div>STEP 2 PARAMETERS</div>
<div style='border: solid 1px'>
<br>



<table>
  <tr>Criteria</tr>
  <tr *ngFor='let c of dataService.criteria; let i=index'>
    <td>{{c}}</td><td><input id='{{c}}' type='textbox' value='{{dataService.criteriaVal[i]}}' (change)='criteriaValueChanged($event)'></td>
  </tr>
  <br>
</table>

<table>
  <tr>Empiric parameters</tr>
  <tr *ngFor='let c of dataService.coefs; let i=index'>
    <td>{{c}}</td><td><input id='{{c}}' type='textbox' value='{{dataService.coefsVal[i]}}' (change)='coefsValueChanged($event)'></td>
  </tr>
  <br>
</table>


<table>
  <tr>Device parameters</tr>
  <tr>
    <td></td><td>S/Sc</td><td></td><td>Sc/Ss</td>
  </tr>
  <tr *ngFor='let c of dataService.devs; let i=index'>
    <td>{{c}}</td><td><input id='sc_{{c}}' type='textbox' value='{{dataService.Sc[i]}}' (change)='ScValueChanged($event)'></td>
    <td>{{c}}</td><td><input id='ss_{{c}}' type='textbox' value='{{dataService.Ss[i]}}' (change)='SsValueChanged($event)'></td>
  </tr>
  <tr *ngFor='let c of dataService.devs; let i=index'>

  </tr>
  <br>
</table>



</div>
</th>

</table>
